<h3>@ViewData["Message"]</h3>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">

        <a href="@Url.Action("Logout")" class="btn btn-danger btn-lg pull-right">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out
        </a>
    </div>

    <div class="container">
        <a href="@Url.Action("Callapi")" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Call API
        </a>
        <span class="label label-default">
            ... any authenticated user! (e.g. Read data. GET)
        </span>
    </div>

    <p></p>

    <div class="container">
        <a href="@Url.Action("Callapi")" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Call Admins API
        </a>

        <span class="label label-default">
            ... only administrators! (e.g. Read and add data. GET, POST, DELETE)
        </span>

    </div>

    var roleClaim = User.Claims.SingleOrDefault(claim => claim.Type == "role");
    if (roleClaim != null && roleClaim.Value == "admin")
    {
        <h3>
            <span class="label label-info">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                You are admin!
            </span>
        </h3>
    }
    <hr />

    <h4>Claims</h4>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
        }
    </dl>
        <hr />
}
else
{
    <h3>
        <span class="label label-danger">You are not authenticated, login please.</span>
    </h3>
}


